@import "../../../../styles";

#run-away {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 2;
}

.playing-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.boss-view {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .boss-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin-bottom: 32px;
      margin-top: 64px;
      font-size: 32px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        margin-left: 16px;
      }
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid $grey-main;
    }
  }
  .boss-actions {
    position: absolute;
    top: 150px;
    left: 200px;
    background-color: $white-main;
    border: 1px solid $grey-main;
    border-radius: 10px;
    padding: 16px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;

      &.name {
        margin-bottom: 16px;
        font-size: 30px;
      }
      &.PV {
        color: $red-main;
        font-size: 20px;
      }
    }
  }
}

.player-view {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .player-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      margin-bottom: 64px;
      margin-top: 32px;
      font-size: 32px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        margin-left: 16px;
      }
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid $grey-main;
    }
  }
  .player-actions {
    position: absolute;
    bottom: 150px;
    left: 200px;
    background-color: $white-main;
    border: 1px solid $grey-main;
    border-radius: 10px;
    padding: 16px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;

      &.name {
        margin-bottom: 16px;
        font-size: 30px;
      }
      &.PV {
        color: $red-main;
        font-size: 20px;
      }
    }
    .moves-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;
      width: 100%;

      p:first-child {
        font-size: 20px;
        color: $grey-main;
      }
      .moves-details-container {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .move {
          margin-top: 10px;
          padding: 16px;
          border-radius: 7px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: transparent;
          transition: all .2s ease;

          &:hover {
            background-color: $grey-main;

            span {
              color: $white-main;
            }
          }
          img {
            width: 32px;
            height: 32px;
            margin-bottom: 8px;
          }
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}
