<button id="run-away" class="app-button" type="button" (click)="emitRunAway()">Fuire !</button>

<div class="playing-view">
  <div class="boss-view" *ngIf="gameState.fight.currentBossPokemon">
    <div class="boss-pokemon">
      <span>{{ gameState.fight.currentBossPokemon.name }}</span>
      <img [ngClass]="UserAttack() ? 'take' : BossAttack() ? 'attack-down' : ''" src="{{ gameState.fight.currentBossPokemon.imageUrl }}" alt="" />
    </div>
    <div class="boss-actions">
      <p *ngIf="gameState.phase === 'BOSS_PLAYING'">Playing</p>
      <p class="name">{{ gameState.boss.name }}</p>
      <p class="PV">
        Pv :
        {{
          gameState.fight.currentBossPokemon.pv > 0
            ? gameState.fight.currentBossPokemon.pv
            : "dead"
        }}
      </p>
    </div>
  </div>

  <div class="player-view" *ngIf="gameState.fight.currentUserPokemon">
    <div class="player-pokemon">
      <img [ngClass]="UserAttack() ? 'attack-up' : BossAttack() ? 'take' : ''" src="{{ gameState.fight.currentUserPokemon.imageUrl }}" alt="" />
      <span>{{ gameState.fight.currentUserPokemon.name }}</span>
    </div>
    <div class="player-actions">
      <p class="name">{{ gameState.user.displayName }}</p>
      <p class="PV">
        Pv :
        {{
          gameState.fight.currentUserPokemon.pv > 0
            ? gameState.fight.currentUserPokemon.pv
            : "dead"
        }}
      </p>
      <app-game-loader *ngIf="gameState.phase.includes('LOADING')"></app-game-loader>
      <div class="moves-container" *ngIf="gameState.phase === 'USER_PLAYING'">
        <p>Attaquez !</p>
        <div class="moves-details-container">
          <div
            *ngFor="let move of gameState.fight.currentUserPokemon.moves"
            (click)="emitPokemonAttack(move)"
            class="move"
          >
            <img src="{{ getTypeImage(move.type) }}" alt="" />
            <span>{{ move.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
