@import "../../../../styles";

.pokemons-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .pokemon-card {
    padding: 32px;
    border-radius: 7px;
    border: solid 1px $black-main;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .pokemon-card-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        border: solid 1px $grey-main;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
      p {
        font-size: 28px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .pokemon-type-image {
        position: relative;

        .type-image {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 50px;
          height: 50px;
          border: solid 6px white;
        }
      }
    }
    hr {
      background-color: $grey-placeholder;
      border: none;
      margin: 0;

      &.vertical-hr {
        width: 100%;
        height: 1px;
      }
      &.horizontal-hr {
        width: 1px;
        height: 150px;
        margin: 0 16px;
      }
    }
    .pokemon-card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 16px;

      .pokemon-infos {
        width: 100%;
      }
      .pokemon-moves {
        width: 100%;
      }
    }
    .pokemon-card-footer {
      display: flex;
      justify-content: flex-end;

      a {
        margin-right: 10px;
      }
    }
  }
}
