<h2>{{ title }}</h2>
<div class="heroes" *ngFor="let pokemon of pokemons">
  <div>
    <p>{{ pokemon.name }}</p>
    <img src="{{ pokemon.imageUrl }}" alt="pokemon image"/>
    <p>Type: {{ pokemon.type }}</p>
    <p>Pv: {{ pokemon.pv }}</p>
    <p>Esquive: {{ pokemon.e }}</p>
    <p>Coup critique: {{ pokemon.cc }}</p>
    <div *ngIf="pokemon.moves">
      <ul *ngFor="let move of pokemon.moves">
        <li>{{ move.name }}</li>
      </ul>
    </div>
    <a routerLink="/pokemon/{{ pokemon.id }}">Edit</a>
    <button (click)="deletePokemon(pokemon)">Delete</button>
  </div>
</div>
