<nav *ngIf="authService.isLoggedIn">
  <div class="navbar-image">
    <img src="{{ getNavbarImage() }}" alt="">
    <div class="black-sail"></div>
  </div>
  <div class="navbar-navigation">
    <a [class.active]="currentRoute.includes('/dashboard')" routerLink="/dashboard">Dashboard</a>
    <a [class.active]="currentRoute.includes('/pokemons')" routerLink="/pokemons">Pokemons</a>
    <a [class.active]="currentRoute.includes('/moves')" routerLink="/moves">Moves</a>
    <hr>
    <a (click)="authService.signOut()" class="logout-button">
      <img src="{{ getAvatar() }}" alt="avatar" />
      <span>Logout</span>
    </a>
  </div>
</nav>
