<div>
  <app-game-view
    *ngIf="gameState"
    (pokemonAttack)="userPokemonAttack($event)"
    (runAway)="runAway()"
    [gameState]="gameState"
  >
  </app-game-view>

  <!-- FENETRE DE COMMENTAIRES -->
  <app-game-dialog *ngIf="gameState" [dialogContent]="gameDialog">
  </app-game-dialog>

  <!-- MODAL MENU CHOOSE POKEMON -->
  <app-game-user-pokemon-selector
    *ngIf="gameState && gameState.phase === 'USER_CHOOSING_POKEMON'"
    (choosePokemon)="userChoosePokemon($event)"
    [pokemons]="getSelectableUserPokemon()"
  >
  </app-game-user-pokemon-selector>

  <!-- MODAL DE FIN, VICTOIRE / DEFAITE -->
  <app-game-end
    *ngIf="
      gameState &&
      (gameState.phase === 'USER_WIN' || gameState.phase === 'BOSS_WIN')
    "
    [gameState]="gameState"
  ></app-game-end>
</div>

<app-loader *ngIf="!gameState"> </app-loader>
