<div>
  <app-game-view
    *ngIf="gameState"
    (pokemonAttack)="userPokemonAttack($event)"
    [gameState]="gameState"
  >
  </app-game-view>

  <app-game-dialog *ngIf="gameState" [dialogContent]="gameDialog">
  </app-game-dialog>

  <!-- MODAL MENU CHOOSE POKEMON -->
  <app-game-user-pokemon-selector
    *ngIf="gameState && gameState.phase === 'USER_CHOOSING_POKEMON'"
    (choosePokemon)="userChoosePokemon($event)"
    [pokemons]="getSelectableUserPokemon()"
  >
  </app-game-user-pokemon-selector>

  <div
    *ngIf="
      gameState &&
      (gameState.phase === 'USER_WIN' || gameState.phase === 'BOSS_WIN')
    "
  >
    <a routerLink="/adventure">Get back to adventure</a>
  </div>
</div>

<app-loader *ngIf="!gameState"> </app-loader>
