@import "../../../styles";

.connexion-section {
  background-color: $black-bc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    background-image: url('../../../assets/pokemon-login.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    opacity: .1;
    z-index: 1;
  }
  .connexion-container {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .connexion-block {
      background-color: $black-main;
      padding: 20px;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 650px;
      width: 100%;

      .app-title {
        font-family: $main-bold;
        color: $white-main;
        margin: 0;
        margin-bottom: 12px;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 0.96px;
      }
      .app-title-message {
        color: $grey-placeholder;
        margin-top: 0;
        font-size: 14px;
        margin-bottom: 32px;
      }
      .googleBtn {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        border-radius: 7px;
        border: none;
        font-size: 14px;
        font-family: $main-medium;
        cursor: pointer;
        outline: none;
        background-color: $white-main;
        transition: all .2s ease;

        &:hover {
          background-color: $grey-tertiary;
          color: $white-main;
        }
        img {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
  }
}
