/* You can add global styles to this file, and also import other style files */

//FONT-FAMILY
@font-face {
  font-family: "proxima-nova-bold";
  src: url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "proxima-nova-semibold";
  src: url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "proxima-nova-medium";
  src: url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "proxima-nova-regular";
  src: url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "proxima-nova-light";
  src: url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

// COLORS
$red-main: #E74C3C;
$red-secondary: #DA2E1B;
$red-tertiary: #B62616;
$red-error: #DD4545;

$blue-main: #2980B9;
$blue-secondary: #216897;
$blue-tertiary: #1A5175;

$yellow-main: #FFAB1D;
$yellow-secondary: #CC8100;

$green-main: #3AAF79;
$green-secondary: #339969;
$green-tertiary: #297A54;

$grey-main: #6F7C8D;
$grey-secondary: #636E7E;
$grey-tertiary: #48505B;
$grey-placeholder: #96A3AB;

$white-main: #EEEEEE;
$white: #FFFFFF;

$black-main: #202529;
$black-secondary: #292F33;
$black-bc: #2C3338;
$black-important: #161A1C;

// FONTS
$main-light: "proxima-nova-light";
$main-regular: "proxima-nova-regular";
$main-medium: "proxima-nova-medium";
$main-semibold: "proxima-nova-semibold";
$main-bold: "proxima-nova-bold";

// MAIN STYLES
body {
  font-family: $main-medium;
  margin: 0;
}

// BUTTONS
.app-button {
  padding: 16px 32px;
  border-radius: 7px;
  background-color: $red-main;
  color: $white-main;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: all .2s ease;

  &:hover {
    background-color: $red-tertiary;
  }
  &.scd {
    background-color: $grey-main;

    &:hover {
      background-color: $grey-tertiary;
    }
  }
  &.smaller {
    padding: 8px 16px;
  }
}

// TYPES
.badge-type {
  padding: 4px 8px;
  margin-left: 8px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  position: relative;

  &.eau {
    background-color: #8DCAE9;
  }
  &.terre {
    background-color: #c18d38;
  }
  &.foudre {
    background-color: #F8BD29;
  }
  &.feu {
    background-color: #EC6648;
  }
  &.neutre {
    background-color: $grey-placeholder;
  }
  &.air {
    background-color: $green-main;
  }
}
