@import "../../../../styles";

.increment-buttons {
  display: flex;
  align-items: center;

  .increment-button {
    border-radius: 50%;
    border: solid 1px $red-main;
    background-color: transparent;
    color: $red-main;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    outline: none;
    margin-left: 8px;
    transition: all .2s ease;

    &:hover {
      background-color: $red-main;
      color: $white-main;
    }
    &#add {
      border: solid 1px $green-main;
      color: $green-main;

      &:hover {
        background-color: $green-main;
        color: $white-main;
      }
    }
  }
}
